

{% extends 'teleeka/main.html' %}

{% load static %}


{% block content %}

{% include 'teleeka/head.html' %}


    <!-- Page content -->
    <br>
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col">
          <div class="card card-profile">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{% static 'assets/img/placeholder.jpeg' %}" class="rounded-circle" height="80px" width="80px">
                  </a>
                </div>
              </div>
            </div>
            <br>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <span class="heading">{{count_personal_contributions}} </span>
                      <span class="description">Contributions counts</span>
                    </div>
                    <div>
                      <span class="heading"> {{total_personal_loan}} UGX</span>
                      <span class="description">Loans</span>
                    </div>
                    <div>
                      <span class="heading">{{total_personal_contributions}} UGX</span>
                      <span class="description">Total Savings</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h5 class="h3">
                  {{client.fullname}}<span class="font-weight-light"></span>
                </h5>
                <span class="description">{{client.email}}</span>|
                <span class="description">{{client.phone}}</span>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Recent Activity  (Contributions) </h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                     <th>Status</th>
                     <th></th>
                  </tr>
                </thead>
                <tbody>
                 {% for d in depo %}
                  <tr>
                    <th scope="row">
                     {{d.clientName}}
                    </th>
                    <td>
                     {{d.amount}} UGX
                    </td>
                    <td>{{d.date_created}}</td>
                    </td>
                    <td><a href="#" class="badge badge-info">{{d.status}}</a></td>
                  </tr>
               {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Recent Activity Loans </h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Reason</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                     <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                 {% for loan in loans %}
                  <tr>
                    <th scope="row">
                     {{loan.reason}}
                    </th>
                    <td>
                     {{loan.amount}} UGX
                    </td>
                    <td>{{loan.date_created}}</td>
                    </td>
                    <td><a href="#" class="badge badge-info">{{loan.status}}</a></td>
                  </tr>
               {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
 
    </div>
  </div>
 {% endblock %}