


{% extends 'teleeka/main.html' %}

{% load static %}


{% block content %}

{% include 'teleeka/head.html' %}


    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">      
          </div>
        </div>
      </div>
           <div class="row">
         <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Deposits</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                     <th>Status</th>
                    <th></th>               
                  </tr>
                </thead>
                <tbody>
                 {% for deposit in deposits %}
                  <tr>
                    <th scope="row">
                     {{deposit.clientName}}
                    </th>
                    <td>
                     {{deposit.group}}
                    </td>
                    <td>{{deposit.date_created}}</td>
                    <td>{{deposit.amount}}</td>
                    
                    <td><a href="#" class="badge badge-info">{{deposit.status}}</a></td>
                
                  </tr>
               {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>   
                 <div class="row">
         <div class="col">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Withdrawls</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Full name</th>
                    <th scope="col">Group</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                     <th>Status</th>
                    <th></th>               
                  </tr>
                </thead>
                <tbody>
                 {% for withdrawl in withdrawls %}
                  <tr>
                    <th scope="row">
                     {{withdrawl.clientName}}
                    </th>
                    <td>
                     {{withdrawl.group}}
                    </td>
                    <td>{{withdrawl.date_created}}</td>
                      <td>{{withdrawl.amount}}</td>
                    
                    <td><a href="#" class="badge badge-info">{{withdrawl.status}}</a></td>
                
                  </tr>
               {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>   
      </div>






      <!-- Footer -->
      <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-lg-6">
            <div class="copyright text-center  text-lg-left  text-muted">
              &copy; 2021 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Alvin Mutebi</a>
            </div>
          </div>

        </div>
      </footer>
    </div>
  </div>
  {% endblock %}